body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

main{
  width:100%;
  height: 100%;
}

#root {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
}
.root {
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
}

.recharts-responsive-container.recharts-wrapper.recharts-surface.recharts-legend-wrapper{
  top:-2 !important
}